<!DOCTYPE html>
<html id="html">
<head>
    <title>Flowchart Viewer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body id="body" onload="load()">
    <center>
        <h4 id="nocontent-warning"><i class="fa fa-exclamation" style="color: red; margin-top: 40vh"></i> No data loaded, use Load button to import CSV <i class="fa fa-exclamation" style="color: red"></i></h4>
        <div class="pngviewer-div" id="pngviewer-div" style="display: none;">
            <h3>Flowchart Visualizer</h3>
            <img id="pngviewer"/>
        </div>
        <div class="editor-div" id="editor-div" style="display: none">
            <hr>
            <h3>CSV Editor</h3>
            <textarea name="editor" type="text" class="editor" id="editor"></textarea>
            <div class="editor-table" id="editor-table"></div>
            <button id="editor-apply" class="btn editor-apply">Edit CSV Data</button>
        </div>
    </center>
</body>
<div class="settings-window" id="settings-window">
    <center><h2>Settings</h2></center>
    <hr>
    <h3 style="margin-left: 20px">General</h3>
    <div class="settings-item"><i id="darkmode-toggle" class="fa fa-toggle-off"></i> Darkmode</div>
    <div class="settings-item"><i id="gifsave-toggle" class="fa fa-toggle-off"></i> Save Image as GIF</div>
    <div id="gifsave-settings" style="display: none">
        <div class="settings-item">Pause inbetween frames: <input type="number" id="gifsave-fps" name="gifsave-fps" min="0.1" max="2" step="0.1" value="0.5"></div>
    </div>
    <hr>
    <h3 style="margin-left: 20px">Autoplay</h3>
    <div class="settings-item"><i id="autoplay-toggle" class="fa fa-toggle-off"></i> Autoplay</div>
    <div id="autoplay-settings" style="display: none">
        <div class="settings-item" id="autoplay-pause-div">Pause between frames in seconds: <input type="number" id="autoplay-pause" name="autoplay-pause" min="0.1" max="10" step="0.1" value="1"></div>
        <div class="settings-item" id="autoplay-stop">Stop after frames: <input type="number" id="autoplay-limit" name="autoplay-limit" min="1" max="999" step="1" value="20"></div>
    </div>
    <hr>
    <h3 style="margin-left: 20px">Help</h3>
    <div class="settings-item"><a>General Usage Instructinos</a></div>
    <div class="settings-item"><a>CSV Formatting Guide</a></div>

    <div class="credit settings-item" style="color: rgb(166, 166, 166)">© Copyright 2023 <br> Adrian Waldera und Jannik Peplau <br> 5932553 und 1995581</div>
</div>
<footer>
    <div class="task-bar" id="task-bar">
        <div class="task-bar-container">
            <button class="btn btn-file" id="btn-file"><i class="fa fa-file"></i><br>Load CSV</button>
            <button class="btn btn-backward" id="btn-backward" disabled="true"><i class="fa fa-backward"></i><br>Backward</i></button>
            <button class="btn btn-forward" id="btn-forward" disabled="true"><i class="fa fa-forward"></i><br>Forward</button>
            <button class="btn btn-autoplay" id="btn-autoplay" disabled="true" style="display: none"><i id="playicon" class="fa fa-play"></i><br>Autoplay</button>
            <button class="btn btn-save" id="btn-save" disabled="true"><i class="fa fa-save"></i><br>Save Image</button>
            <button class="btn btn-settings" id="btn-settings" disabled="true"><i class="fa fa-cog"></i><br>Settings</button>
        </div>
    </div>
</footer>
</html>

<style>
    html {
        font-family: arial;
        background-color: #eee;
        overflow-x: hidden;
    }
    .task-bar {
        position: fixed;
        background-color: #ccc;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .task-bar-container {
        display: flex;
        align-items: center;
        max-width: 1000px;
    }

    .btn {
        width: 200px;
        height: 60px;
        background-color: #ddd;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn:active {
        background-color: #3eae3c;
    }
    .fa {
        margin-bottom: 5px;
    }

    .pngviewer-div {
        width: 95%;
        height: 80%;
        /* border: 1px solid black; */
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pngviewer-div img{
        height: 100%;
    }

    .editor-div {
        width: 95%;
        height: auto;
        /* border: 1px solid black; */
        border-radius: 5px;
        margin-bottom: 120px;
    }
    .editor-div textarea {
        width: 95%;
        height: auto;
        resize: vertical;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 16px;
        font-family: arial;
        background-color: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .editor-div div {
        width: 95%;
        height: auto;
        border: none;
        font-size: 16px;
        font-family: arial;
        background-color: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .editor-div button {
        margin-top: 20px;
        margin-bottom: 20px; 
    }
    
    .settings-window {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 25vw;
        background-color: #ddd;
        border: 1px solid black;
        border-radius: 5px;
        display: none;
    }
    .settings-item {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .settings-window input {
        float: right;
    }
    .credit {
        position: absolute;
        bottom: 85px;
        left: 0;
    }
</style>

<script>
    var darkmode = false;
    function load() {
        var btns = document.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("mouseover", function() {
                this.style.backgroundColor = "#7d7d7d";
            });
        }
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("mouseout", function() {
                if (darkmode == true) {
                    this.style.backgroundColor = "#222";
                } else {
                    this.style.backgroundColor = "#ddd";
                }
            });
        }
    }

    document.getElementById("btn-file").addEventListener("click", function () {
        const input = document.createElement("input");
        input.type = "file";
        input.addEventListener("change", () => {
            const file = input.files[0];
            if (input.files.length > 1) {
                alert("Please select only one file");
                return;
            }
            if (!file.name.endsWith(".csv")) {
                alert("Please select a CSV file");
                return;
            }
            const formData = new FormData();
            formData.append("file", file);
            fetch("/process_file", {
                method: "POST",
                body: formData
            })
            .then(response => response.arrayBuffer())
            .then(data => {
                const blob = new Blob([data], { type: "image/svg+xml" });
                const url = URL.createObjectURL(blob);
                document.getElementById("editor").value = "";
                const reader = new FileReader();
                reader.onload = function(e) {
                    const originalValue = document.getElementById("editor").value;
                    document.getElementById("btn-backward").disabled = false;
                    document.getElementById("btn-forward").disabled = false;
                    document.getElementById("btn-autoplay").disabled = false;
                    document.getElementById("btn-save").disabled = false;
                    document.getElementById("btn-settings").disabled = false;
                    const fileContents = e.target.result;
                    document.getElementById("editor").value = originalValue + "\n" + fileContents;
                    document.getElementById("editor").style.height = document.getElementById("editor").scrollHeight + "px";
                    createTable();
                    document.getElementById("editor").style.display = "none";
                    document.getElementById("editor-table").style.display = "block";
                }
                reader.readAsText(file);
                document.getElementById("pngviewer").src = url;
                document.getElementById("nocontent-warning").style.display = "none";
                document.getElementById("pngviewer-div").style.display = "block";
                document.getElementById("editor-div").style.display = "block";
            });
        });
        input.click();
    });

    document.getElementById("btn-backward").addEventListener("click", function() {
        fetch("/prev")
            .then(response => response.arrayBuffer())
            .then(data => {
                const blob = new Blob([data], { type: "image/svg+xml" });
                const url = URL.createObjectURL(blob);
                document.getElementById("pngviewer").src = url;
            });
    });

    document.getElementById("btn-forward").addEventListener("click", function() {
        fetch("/next")
            .then(response => response.arrayBuffer())
            .then(data => {
                const blob = new Blob([data], { type: "image/svg+xml" });
                const url = URL.createObjectURL(blob);
                document.getElementById("pngviewer").src = url;
            });
    });

    document.getElementById("darkmode-toggle").addEventListener("click", function() {
        if (darkmode == true) {
            darkmode = false;
            createTable();
            document.getElementById("darkmode-toggle").classList.remove("fa-toggle-on");
            document.getElementById("darkmode-toggle").classList.add("fa-toggle-off");
            document.getElementById("html").style.backgroundColor = "#eee";
            document.getElementById("html").style.color = "black";
            document.getElementById("editor").style.color = "black";
            document.getElementById("settings-window").style.backgroundColor = "#ddd";
            document.getElementById("task-bar").style.backgroundColor = "#ccc";
            var btns = document.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].style.backgroundColor = "#ddd";
                btns[i].style.color = "black";
            }
        } else {
            darkmode = true;
            createTable();
            document.getElementById("darkmode-toggle").classList.remove("fa-toggle-off");
            document.getElementById("darkmode-toggle").classList.add("fa-toggle-on");
            document.getElementById("html").style.backgroundColor = "#111";
            document.getElementById("html").style.color = "white";
            document.getElementById("editor").style.color = "white";
            document.getElementById("settings-window").style.backgroundColor = "#222";
            document.getElementById("task-bar").style.backgroundColor = "#333";
            var btns = document.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].style.backgroundColor = "#222"; 
                btns[i].style.color = "white";
            }
        }
        fetch("/darkmode_toggle", {
            method: "POST",
            body: JSON.stringify({"darkmode": darkmode}),
            cache: "no-cache",
            headers: new Headers({
            "content-type": "application/json"
            })
        })
        .then(response => response.arrayBuffer())
        .then(data => {
            const blob = new Blob([data], { type: "image/svg+xml" });
            const url = URL.createObjectURL(blob);
            document.getElementById("pngviewer").src = url;
        });
    });

    document.getElementById("btn-settings").addEventListener("click", function() {
        if (document.getElementById("settings-window").style.display == "block") {
            document.getElementById("settings-window").style.display = "none";
            document.getElementById("body").style.width = "100%";
            document.getElementById("body").style.marginLeft = "0%";
        } else {
            document.getElementById("settings-window").style.display = "block";
            document.getElementById("body").style.width = "75%";
            document.getElementById("body").style.marginRight = "25%";
        }
    });

    var autoplay = false
    document.getElementById("autoplay-toggle").addEventListener("click", function() {
        if (autoplay == false) {
            autoplay = true;
            document.getElementById("autoplay-toggle").classList.remove("fa-toggle-off");
            document.getElementById("autoplay-toggle").classList.add("fa-toggle-on");
            document.getElementById("btn-backward").style.display = "none";
            document.getElementById("btn-forward").style.display = "none";
            document.getElementById("btn-autoplay").style.display = "block";
            document.getElementById("autoplay-settings").style.display = "block";
        } else {
            autoplay = false;
            document.getElementById("autoplay-toggle").classList.remove("fa-toggle-on");
            document.getElementById("autoplay-toggle").classList.add("fa-toggle-off");
            document.getElementById("btn-backward").style.display = "block";
            document.getElementById("btn-forward").style.display = "block";
            document.getElementById("btn-autoplay").style.display = "none";
            document.getElementById("autoplay-settings").style.display = "none";
        }
    });

    var gifsave = false
    document.getElementById("gifsave-toggle").addEventListener("click", function() {
        if (gifsave == false) {
            gifsave = true;
            document.getElementById("gifsave-toggle").classList.remove("fa-toggle-off");
            document.getElementById("gifsave-toggle").classList.add("fa-toggle-on");
            document.getElementById("btn-save").innerHTML = document.getElementById("btn-save").innerHTML.replace("Image", "GIF");
            document.getElementById("gifsave-settings").style.display = "block";
        } else {
            gifsave = false;
            document.getElementById("gifsave-toggle").classList.remove("fa-toggle-on");
            document.getElementById("gifsave-toggle").classList.add("fa-toggle-off");
            document.getElementById("btn-save").innerHTML = document.getElementById("btn-save").innerHTML.replace("GIF", "Image");
            document.getElementById("gifsave-settings").style.display = "none";
        }
    });

    document.getElementById("btn-save").addEventListener("click", function() {
        if (gifsave == false) {
            var url = document.getElementById("pngviewer").src;
            var link = document.createElement("a");
            link.href = url;
            link.download = "export.svg";
            link.click();
        } else {
            fetch("/savegif")
            .then(response => response.blob())
            .then(blob => {
                const url = URL.createObjectURL(blob);
                const link = document.createElement("a");
                link.download = "export.gif";
                link.href = url;
                link.style.display = "none";
                document.body.appendChild(link);
                link.click();
                URL.revokeObjectURL(url);
                document.body.removeChild(link);
            })
            .catch(error => console.error(error));
        }
    });

    let intervalId;
    async function autoGeneration() {
        var i = 0;
        intervalId = setInterval(() => {
            if (i < document.getElementById("autoplay-limit").value) {
                fetch("/next")
                .then(response => response.arrayBuffer())
                .then(data => {
                    const blob = new Blob([data], { type: "image/svg+xml" });
                    const url = URL.createObjectURL(blob);
                    document.getElementById("pngviewer").src = url;
                });
                i++;
            } else {
                document.getElementById("btn-autoplay").click();
                return;
            }
        }, document.getElementById("autoplay-pause").value*1000)
    }
    document.getElementById("btn-autoplay").addEventListener("click", function() {
        if (intervalId) {
            clearInterval(intervalId);
            intervalId = null;
            document.getElementById("btn-autoplay").innerHTML = document.getElementById("btn-autoplay").innerHTML.replace("Stop Autoplay", "Autoplay");
            document.getElementById("playicon").classList.remove("fa-pause");
            document.getElementById("playicon").classList.add("fa-play");
        } else {
            document.getElementById("btn-autoplay").innerHTML = document.getElementById("btn-autoplay").innerHTML.replace("Autoplay", "Stop Autoplay");
            document.getElementById("playicon").classList.remove("fa-play");
            document.getElementById("playicon").classList.add("fa-pause");
            autoGeneration();
        }
    });

    var editing = false;
    document.getElementById("editor-apply").addEventListener("click", function() {
        if (editing == false) {
            editing = true;
            document.getElementById("editor").style.display = "block";
            document.getElementById("editor-table").style.display = "none";
            document.getElementById("editor-apply").innerHTML = document.getElementById("editor-apply").innerHTML.replace("Edit CSV Data", "Apply changes");
        } else {
            editing = false;
            document.getElementById("editor").style.display = "none";
            document.getElementById("editor-table").style.display = "block";
            createTable();
            document.getElementById("editor-apply").innerHTML = document.getElementById("editor-apply").innerHTML.replace("Apply changes", "Edit CSV Data");
            var fileblob = new Blob([document.getElementById("editor").value], { type: "text/plain;charset=utf-8" });
            const formData = new FormData();
            formData.append("file", fileblob);
            fetch("/process_file", {
                method: "POST",
                body: formData
            })
            .then(response => response.arrayBuffer())
            .then(data => {
                const blob = new Blob([data], { type: "image/svg+xml" });
                const url = URL.createObjectURL(blob);
                document.getElementById("pngviewer").src = url;
            });
        }
    });

    function createTable() { // Helper function
        var csvContent = document.getElementById("editor").value;
        var csvContent = document.getElementById("editor").value;
        var rows = csvContent.split("\n");
        var table = document.createElement("table");
        table.style.borderCollapse = "collapse";
        var headerRow = document.createElement("tr");
        var headerCells = rows[0].split(",");
        for (var i = 0; i < headerCells.length; i++) {
            var headerCell = document.createElement("th");
            headerCell.textContent = headerCells[i];
            headerRow.appendChild(headerCell);
        }
        table.appendChild(headerRow);

        for (var j = 1; j < rows.length; j++) {
            var dataRow = document.createElement("tr");
            var dataCells = rows[j].split(",");
            for (var k = 0; k < dataCells.length; k++) {
                var dataCell = document.createElement("td");
                dataCell.textContent = dataCells[k];
                dataCell.innerHTML = dataCell.innerHTML.replace("_", "<br>").replace("_", "<br>");
                dataCell.style.margin = "10px";
                dataRow.appendChild(dataCell);
            }
            table.appendChild(dataRow);
            if (darkmode == false) {
                dataRow.style.border = "1px solid black";
            } else {
                dataRow.style.border = "1px solid white";
            }
        }

        var thCells = headerRow.getElementsByTagName("th");
        for (var l = 1; l < thCells.length; l++) {
            
            if (darkmode == false) {
                thCells[l].style.border = "1px solid black";
            } else {
                thCells[l].style.border = "1px solid white";
            }
        }

        var tdCells = table.getElementsByTagName("td");
        for (var m = 0; m < tdCells.length; m++) {
            if (darkmode == false) {
                tdCells[m].style.border = "1px solid black";
            } else {
                tdCells[m].style.border = "1px solid white";
            }
        }


        var tableContainer = document.getElementById("editor-table");
        tableContainer.innerHTML = "";
        tableContainer.appendChild(table);
    }

</script>